body {
  background-color: rgb(215, 0, 44, 0.2);
}
.mmmm {
  position: absolute;
  top: 54px;
  right: 29px;
  font-size: 20px;
}

.mmmmm {
  position: absolute;
  top: 117px;
  right: 29px;
  font-size: 20px;
}
/* .img_Jee {
  width: 100% !important;
  height: 100% !important;
} */
